extends layout

block content
  h1= title
  p Welcome to #{title}
  p Created by: ophelia-and-katarina
  p Team Ophelia and Katarina is awesome! :)
  p This is a test message!
  p This is a test message!
  p This is a test message!